@use 'base';

html, body {
    height: 100vh;       // Full viewport height
    margin: 0;
    padding: 0;
    overflow: hidden;    // Disable scrolling
  }

.about-content {            
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.about-image {
    margin-top: 1%;
    width: 22%;
    margin-bottom: 2.5%;
}
  
.about-p {
    color: #4B4A4A;
    line-height: 1.5;
    font-size: 16.5px;
    text-align: left;
}

.back-button {
    display: block;
    padding: 0;              // Remove default padding
    margin-left: 24%;
    margin-top: 50px;
    width: max-content;      // Shrinks to fit the arrow text
    font-size: 16px;
    color: #4B4A4A;
    text-decoration: none;
  
    &:hover {
      text-decoration: none;
      color: base.$purple-hover;
    }
}

@media screen and (max-width: 864px) {
    .about-image {
      width: 40%;
    }
  
    .about-content {
      padding: 40px 20px;
    }
  }
  
  @media screen and (max-width: 640px) {
    .about-image {
      width: 60%;
    }
  }
