/* Colors */
$gray-bg: #F7F7F7;
$gray-content: #B2B2B2;
$orange-bg: #FFE5B2;
$orange-text: #D86800;
$purple-hover: #98A6D1;
$dark-text: #222222; // #4B4A4A

/* Import Inter font from Fontsource */
@import "@fontsource/inter";

body {
    font-family: "Inter";
}

