/* Colors */
$white-bg: #FCFAFB;
$gray-bg: #F3F1F2;
$gray-content: #B2B2B2;
$orange-bg: #FFE5B2;
$orange-text: #D86800;
$purple-hover: #98A6D1;
$dark-text: #404040; // #4B4A4A
$heading-text: #222222;

/* Import Inter Variable font from Fontsource */
@import "@fontsource-variable/inter";

body {
    font-family: "Inter Variable", "Inter", sans-serif;
    font-weight: 400;
}

