/* Colors */
$gray-bg: #F7F7F7;
$gray-content: #B2B2B2;
$orange-bg: #FFE5B2;
$orange-text: #D86800;
$purple-hover: #98A6D1;
$dark-text: #4B4A4A;

/* font */
@import url(https://db.onlinewebfonts.com/c/1121b66d8e18dc5255868a050bff637c?family=Apercu+Pro+Medium+Italic);
@import url(https://db.onlinewebfonts.com/c/b8788b26cb5f2d9f5c9edf71e7846f5c?family=Apercu+Pro+Medium);
@import url(https://db.onlinewebfonts.com/c/056e0238eba3eecbe68032bf7063eb22?family=Apercu+Pro+Italic);
@import url(https://db.onlinewebfonts.com/c/40ea291a03f81ef88a049f19415be431?family=Apercu+Pro+Regular);
body {
    font-family: "Apercu Pro Regular";
}

