#currently-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

#currently-image {
  width: 100px;
  border-radius: 8px;
}

#currently-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* listening https://scastiel.dev/animated-3d-book-css */
.listening-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

#album {
  margin-top: 0.5rem;
  position: relative;
  width: 100px;
  height: 100px;
}

#cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image: url("/images/petercat.jpg");
  background-size: cover;
  border-radius: 4px;
  box-shadow: 5px 0 20px 0 rgba(0,0,0,0.3),
              inset 0 0 10px 5px rgba(255,255,255,0.2),
              inset 0 0 4px 2px rgba(0,0,0,0.2);
}

#vinyl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Music-PNG/Gramophone_Vinyl_LP_Record_PNG_Transparent_Clip_Art_Image.png?m=1462983196");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  border-radius: 50%;
  animation: spinThat 20s linear infinite, getOut 1s ease-out forwards;
}


@keyframes getOut {
	0% {
		left: 0;
	}
	100% {
		left: 50%;
	}
}
@keyframes spinThat {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* reading https://scastiel.dev/animated-3d-book-css */
.book-container {
  margin-top: 2%;
  margin-left: 1%;
  perspective: 1000px;
}

.book {
  width: 115px;
  height: 165px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-20deg);
  transition: transform 1s;

  &:hover {
    transform: rotateY(0deg);
  }

  .book-cover,
  .book-pages,
  .book-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 3px;
  }

  .book-cover {
    background: white;
    transform: translateZ(20px);
    img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      object-fit: cover;
    }
  }

  .book-pages {
    background: repeating-linear-gradient(
      90deg,
      #d8d8d8,
      #d8d8d8 2px,
      #b0b0b0 2px,
      #b0b0b0 4px
    );
    transform: translateZ(10px);
  }

  .book-back {
    background: #434C58;
    transform: rotateY(180deg) translateZ(2px);
  }
}