@use 'base';

div {
  font-weight: 200;
  font-size: 16px;
  color: #4B4A4A;
}

a {
  text-decoration: none;
  color: #4B4A4A;
  font-size: 16.5px;
  
  &:visited {
    color: #4B4A4A;
  }

  &:hover {
    text-decoration: underline;
  }
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  gap: 55px;
  padding: 25px;
  //overflow-y: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: white;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-blurb {
  width: 60%;
  font-size: 16.5px;
  color: #4B4A4A;
}

.list {
  margin-top: 0px;
  margin-left: -10px;
  margin-bottom: -5px;
}

.footer {
  margin-top: 1.24em;
}


@media screen and (max-width: 1024px) {
  .about-blurb {
    width: 80%;
  }

  .sidebar-container {
    height: auto;
  }
}

@media screen and (max-width: 864px) {
  .about-blurb {
    width: 60%;
  }
}

@media screen and (max-width: 640px) {
  .about-blurb {
    width: 70%;
  }

  .sidebar-container {
    padding: 16px;
  }
}

