---
import "../styles/sidebar.scss";
import WorkList from "../components/WorkList";
import ListeningTo from "../components/Listening";
import Reading from "../components/Reading.astro";
---
<head>
  <link href="https://db.onlinewebfonts.com/c/cc63ce6e304da54106961b31a1d744a9?family=Apercu" rel="stylesheet">
</head>
<div class="sidebar-container">
  <span class="name">
    <a class="name-link" href="/sneha.work.github.io/">Sneha</a>
    <a class="gray-link" href="/sneha.work.github.io/about">About</a>
  </span>
  <div class="about-container">
    <span class="about-blurb">
      Design Engineer  <br><br> 
      Figuring out new ways to solve unmet problems through cyclical research 🌀, inuitive systems 🧠 & clean design ✨ <br><br> You can find me on <a
       href="https://www.are.na/sneha-vembu/channels"
        target="_blank">Are.na</a
      >,
      <a href="https://github.com/speakingofsneha" target="_blank">GitHub</a>,
      <a href="https://read.cv/snehav" target="_blank">Read.cv</a>, and (unfortunately)
      <a href="https://www.linkedin.com/in/sneha-kumar-a06275327/" target="_blank">Linkedin</a>. I also 
      <a href="/sneha.work.github.io/words">write →</a>
    </span>
  </div>
  <WorkList client:load />
  <ListeningTo client:load />
  <Reading/>
  <div>
    <span class="about-right"> recruiting season mode is off- for case studies email me!</span>
    <hr>
    <span class="about-blurb"> hand coded with 💌 </span>
  </div>
</div>
