---
import "../styles/sidebar.scss";
import WorkList from "../components/WorkList";
import ListeningTo from "../components/Listening";
// import Reading from "../components/Reading.astro";
---

<div class="sidebar-container">
  <span class="name">
    <a class="name-link" href="/">✿</a>
    <a class="gray-link" href="/about">about</a>
  </span>
  <div class="about-container">
    <span class="about-blurb">
      Hi, I'm Sneha. I figure out new ways to solve unmet problems through cyclical research 🌀, inuitive systems 🧠 & clean design ✨<br><br> You can find me on 
      <a class="wavy-link" href="https://www.are.na/sneha-vembu/channels" target="_blank">are.na</a>,
      <a class="wavy-link" href="https://github.com/speakingofsneha" target="_blank">github</a>, and (unfortunately)
      <a class="wavy-link" href="https://www.linkedin.com" target="_blank">linkedin</a>. Ocassionally, I 
      <a href="/words">write →</a> 
    </span>
  </div>
  <WorkList client:load />
  <ListeningTo client:load/>
  <!-- <Reading/> -->
  <div class="footer">
    <hr>
    <a> hand-coded with 💌 </a> 
  </div> 

</div>
