---
import "../../styles/global.scss";
import "../../styles/notes.scss";
import { ViewTransitions } from 'astro:transitions';
---

<!DOCTYPE html>
<html class="centered" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Olympal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/favicon.png"/>
    <link rel="stylesheet" href="../../styles.css">
</head>

<body class="copy" id="article">
    <div class="container">
        <div class="page-header">
            <a href="../../" class="notes-back">← back</a>
            <span class="header-title">Olympal</span>
            <span class="header-date">Nov 2024</span>
        </div>
        <hr class="header-divider">

         <!-- casestudy navigation -->
         <div class="sidebar" id="sidebar">
            <div class="bar" data-target="slide1" data-label="Background"></div>   
            <div class="bar" data-target="slide3" data-label="Setting the scene"></div>   
            <div class="bar" data-target="slide5" data-label="Concept exploration"></div>
            <div class="bar" data-target="slide7" data-label="Final design"></div>
            <div class="bar" data-target="section5" data-label="Epilogue"></div>
        </div>
        <div class="content">
        <p>
            Final design project as part of the <a href="https://www.sydney.edu.au/units/DECO2200">Interaction Design Studio</a> with Alyssa Bui and Eusra mohammad :)
        </p>
        </div>
        <img id="slide1" src="/images/casestudies/olympal/slide1.png"/>
        <img src="/images/casestudies/olympal/slide2.png"/>

        <img id="slide3" src="/images/casestudies/olympal/slide3.png"/>
        <img src="/images/casestudies/olympal/slide4.png"/>

        <img id="slide5" src="/images/casestudies/olympal/slide5.png"/>
        <img src="/images/casestudies/olympal/slide6.png"/>

        <img id="slide7" src="/images/casestudies/olympal/slide7.png"/>
        <img src="/images/casestudies/olympal/slide8.png"/>
        <img src="/images/casestudies/olympal/slide9.png"/>
        <img src="/images/casestudies/olympal/slide10.png"/>
        <img src="/images/casestudies/olympal/slide11.png"/>

        <p id="section5" class="heading"> Epilogue </p>
        <p>
            Working on Olympal pushed us to think beyond screens and consider how digital experiences can feel more immersive, social, and intuitive. 
            Balancing ambition with usability was a constant challenge, but through testing and iteration, we created something 
            that feels both innovative and human. The case study focused more on the AR prototype, as that was the role I took, 
            but you can view the desktop prototype here.
        </p> 
        </div>
    </div>
    <script src="../../components/notessidebar.js"></script>
</body>
</html>